.Sidebar {
    display: flex;
    flex-direction: column;
    position: relative;
    padding-top: 4rem;
    transition: all 300ms ease;
}

.logo {
    display: flex;
    height: 4rem;
    font-weight: bold;
    font-size: 22px;
    gap: 0.5rem;
    justify-content: center;
    align-items: center;
    height: 4%;
}

.logo>img {
    height: 5rem;
    width: 5rem;
    padding-left: 1rem;
}

.logo>span {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.logo>span>span {
    color: rgb(255, 166, 0);
}

/* manu */
.manu {
    margin-top: 4rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;

}

.icons-width {
    width: 3rem;
}

.manuItem {
    display: flex;
    align-items: center;
    margin-left: 2rem;
    gap: 1rem;
    height: 2.5rem;
    position: relative;
    transition: all 300ms ease;
    font-size: 14px;
    border-radius: 0.7rem;
}

.manuItem:hover {
    cursor: pointer;
}

.active {
    background-color: var(--activeItem);
    margin-left: 0%;
}

.active::before {
    content: '';
    width: 8px;
    height: 100%;
    background: var(--pink);
    margin-right: calc(1rem -8px);
}

.manu .manuItem:last-child{
    position: absolute;
    bottom: 1.5rem;
    width: 100%;
}
.bars{
    display: none;
}
@media screen and (max-width: 1200px){
    .manuItem>span{
        display: none;
    }
    .logo{
        display: none;
    }
}

@media screen and (max-width: 768px){
    .Sidebar{
        position: fixed;
        z-index: 9;
        background: pink;
        width: 50%;
        height: 100%;
    }
    .manuItem>span{
        display: block;
    }
    .logo{
        display: block;
        display: flex;
        flex-direction:column;
    }
    .logo>span{
        gap: 1rem;
    }

    .manu .manuItem:last-child{
        position: relative;
        margin-top: 6rem;
    }
    .bars{
        font-size: large;
        display: flex;
        position: fixed;
        top: 2rem;
        background: pink;
        z-index: 9;
        padding: 10px;
        border-radius: 10px;
    }
}