

/* .CompactCard card css is here */
.CompactCard {
    display: flex;
    flex: 1;
    height: 7rem !important;
    border-radius: 0.7rem;
    color: white;
    position: relative;
    cursor: pointer;
    padding: 1rem;
    gap: 3rem;
}

.CompactCard:hover {
    box-shadow: none!important;
}

svg.CircularProgressbar {
    width: 4rem;
    overflow: visible;
}

/* radial bar */
.radialBar {
    flex: 1 1;
    display: flex;

    flex-direction: column;
    justify-content: flex-end;
    gap: 1rem;
}

.CircularProgressbar-path {
    stroke: white !important;
    stroke-width: 12px !important;
    filter: drop-shadow(2px 4px 6px white);
}

.CircularProgressbar-trail {
    display: none;
}

.CircularProgressbar>text.CircularProgressbar-text {
    fill: white;
    font-size: 1.5rem;
    font-weight: bold;
}

/* detail */
.detail {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
}
.icon-w{
    height: 1.5rem;
}
.detail>span:nth-child(2) {
    font-size: 22px;
    font-weight: normal;
}
.detail>span:nth-child(3) {
    font-size: 11px;
    font-weight: normal;
}



/* ExpandedCard css start here */

.ExpandedCard {
    position: absolute;
    left: 12rem;
    top:1rem;
    bottom: 1rem;
    width: 80%;
    height: 90vh;
    z-index: 12;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;
}

.xArrow {
    align-self: flex-end;
    cursor: pointer;
    color: white;
    font-size: 1.5rem;
}

.chartContainer {
    width: 66%;
}

.ExpandedCard>span:nth-of-type(1) {
    color: white;
    font-weight: bolder;
    font-size: 22px;
    text-shadow: 0px 0px 15px white;
}

.ExpandedCard>span:nth-of-type(2) {
    color: rgb(255, 255, 255);
    font-size: 1.2rem;
}

@media screen and (max-width:1200px) {
    .ExpandedCard{
        top: 2rem;
        height: 55vh;
        left: 6rem;
    }
    .chartContainer{
        width: 100%;
    }
}
@media screen and (max-width: 768px){
    .ExpandedCard{
        top: 10rem;
        width: 80%;
        height: 44%;
        left: 26px;

    }
    .xArrow{
        align-self: flex-end;
        /* margin-top: -4rem; */
    }
}