.containerF {
    background: linear-gradient(180deg, #ffa7ff 0%, #ffcbd0 100%);
    display: flex;
    align-items: center;
    justify-content: center;
}

.form {
    background: linear-gradient(180deg,
            #bb67ff 0%,
            #c484f3 100%);
    width: 70%;
    height: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    border-radius: 0.7rem;
}

input {
    height: 1rem;
    width: 10rem;
    border-radius: 0.7rem;
    padding: 5px;
}

.submitInput>input {
    font-size: larger;
    font-weight: bolder;
    margin-top: 1rem;
    height: 2rem;
}